body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

a .button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* column of centered content */
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  width: 100%;
}